body{
    background-image: url("../images/blackscales.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 60px;
    margin: 10px 0;
    color: red;
}

h1 img {
    width: 75px;
}


#after-img {
    transform: scale(-1, 1)
}


#container {
    background-image: url("../images/paper.jpg");
    background-size: cover;
    color: black;
    width: 75%;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    font-family: 'Homemade Apple', cursive;
}

.egg {
    padding: 0 20px;
    width: 100px;
}

.egg:active {
    transform: translateY(10px);
}

.game {
    margin: auto;
}

.row {
    padding: 30px;
}


